machine:
  kubelet:
    # The `ClusterDNS` field is an optional reference to an alternative kubelet clusterDNS ip list.
    clusterDNS:
      - {{ talos_cluster_ip }}

    extraMounts:
      - destination: /var/lib/longhorn # Destination is the absolute path where the mount will be placed in the container.
        type: bind # Type specifies the mount kind.
        source: /var/lib/longhorn # Source specifies the source path of the mount.
        # Options are fstab style mount options.
        options:
          - bind
          - rshared
          - rw
  # Configures the node labels for the machine.
  # Explicitly remove the "exclude-from-external-load-balancers" option
  nodeLabels:
    node.kubernetes.io/exclude-from-external-load-balancers:
      $patch: delete

  # MachineDisks list example.
  disks:
    - device: /dev/sdb # The name of the disk to use.
      # A list of partitions to create on the disk.
      partitions:
        - mountpoint: /var/lib/longhorn # Where to mount the partition.

  network:
    hostname: {{ inventory_hostname }}


cluster:
  # Disable coreDNS because it's configured manually later
  coreDNS:
    disabled: true
    
  # Allows running workload on control-plane nodes.
  allowSchedulingOnControlPlanes: true

  apiServer:
    extraArgs:
      oidc-issuer-url: {{ talos_oidc_issuer_url }}
      oidc-client-id: {{ talos_oidc_client_id }}
      oidc-groups-claim: {{ talos_oidc_groups_claim }}
