machine:
  kubelet:
    # The `ClusterDNS` field is an optional reference to an alternative kubelet clusterDNS ip list.
    clusterDNS:
      - {{ talos_cluster_ip }}

  # Configures the node labels for the machine.
  # Explicitly remove the "exclude-from-external-load-balancers" option
  nodeLabels:
    node.kubernetes.io/exclude-from-external-load-balancers:
      $patch: delete

  network:
    hostname: {{ inventory_hostname }}.{{ talos_dns_domain }}

    interfaces:
      - deviceSelector:
          hardwareAddr: "{{ talos_network_device_mac | lower }}"
        addresses:
          - {{ talos_node_ip }}/24
        routes:
          - network: 0.0.0.0/0
            gateway: {{ talos_node_gateway }}
    nameservers: {{ talos_node_nameservers | to_yaml }}



cluster:
  # Disable coreDNS because it's configured manually later
  coreDNS:
    disabled: true

  apiServer:
    extraArgs:
      oidc-issuer-url: {{ talos_oidc_issuer_url }}
      oidc-client-id: {{ talos_oidc_client_id }}
      oidc-groups-claim: {{ talos_oidc_groups_claim }}

  # Use Cilium instead of default CNI
  network:
    cni:
      name: none

  # Disable kube-proxy and use Cilium's version
  proxy:
    disabled: true
