apiVersion: v1
kind: Secret
metadata:
  name: talos-etcd-backup
  namespace: kube-system

type: Opaque
stringData:
  accessKeyId: "{{ talos_etcd_backup_s3_access_key_id }}"
  secretAccessKey: "{{ talos_etcd_backup_s3_secret_access_key }}"
  resticKey: "{{ talos_etcd_backup_restic_repo_secret }}"
  bucketName: "s3:{{ talos_etcd_backup_s3_url }}"
