machine:
  kubelet:
    # The `ClusterDNS` field is an optional reference to an alternative kubelet clusterDNS ip list.
    clusterDNS:
      - {{ talos_cluster_ip }}

    # Set NodeIP to ensure multihomed nodes work
    nodeIP:
      validSubnets:
        - {{ talos_node_subnet }}

    extraMounts:
      - destination: /var/lib/longhorn # Destination is the absolute path where the mount will be placed in the container.
        type: bind # Type specifies the mount kind.
        source: /var/lib/longhorn # Source specifies the source path of the mount.
        # Options are fstab style mount options.
        options:
          - bind
          - rshared
          - rw

  # MachineDisks list example.
  disks:
    - device: /dev/sdb # The name of the disk to use.
      # A list of partitions to create on the disk.
      partitions:
        - mountpoint: /var/lib/longhorn # Where to mount the partition.

  network:
    hostname: {{ inventory_hostname }}.{{ talos_dns_domain }}

    {% if talos_node_vlan_ip and talos_network_device_vlan_mac -%}
    interfaces:
      - deviceSelector:
          hardwareAddr: "{{ talos_network_device_vlan_mac | lower }}"
        addresses:
          - {{ talos_node_vlan_ip }}/24
    {%- endif %}

cluster:
  network:
    # Default Talos CIDRs, hardcoded for stability
    podSubnets:
      - 10.244.0.0/16
    serviceSubnets:
      - 10.96.0.0/12
