machine:
  kubelet:
    # The `ClusterDNS` field is an optional reference to an alternative kubelet clusterDNS ip list.
    clusterDNS:
      - {{ talos_cluster_ip }}

    extraMounts:
      - destination: /var/lib/longhorn # Destination is the absolute path where the mount will be placed in the container.
        type: bind # Type specifies the mount kind.
        source: /var/lib/longhorn # Source specifies the source path of the mount.
        # Options are fstab style mount options.
        options:
          - bind
          - rshared
          - rw

  # MachineDisks list example.
  disks:
    - device: /dev/sdb # The name of the disk to use.
      # A list of partitions to create on the disk.
      partitions:
        - mountpoint: /var/lib/longhorn # Where to mount the partition.

  network:
    hostname: {{ inventory_hostname }}.{{ talos_dns_domain }}
